#appContainer {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 20% 5% 50% 5% 20%;
    grid-template-rows: 20% 5% 65% 10%;
}