#bannerContainer {
    grid-row: 1;
    grid-column: 2 / 5;
    border: 1px solid black;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 9fr;
}
#bannerSpan {
    max-width: 80%;
    margin-left: 10%;
    border: 1px solid gray;
}