#introContinuedContainer {
    grid-column: 3;
    grid-row: 3;
    grid-template-rows: 1fr 9fr;
}
#introContinuedTitle {
    text-align: center;
}
#introPage1, #introPage2, #introPage3 {
    display: grid;
    grid-template-rows: 9fr 1fr;
}