#introContinuedContainer {
    display: grid;
    grid-template-rows: 1fr 9fr;
    text-align: center;
    min-height: 100%;
}
#introPage2, #introPage3 {
    display: grid;
    grid-template-rows: 9fr 1fr;
}