#Squirtle {
    background-image: url('../images/pokemon/normal/front/Squirtle.png');
}
#Charmander {
    background-image: url('../images/pokemon/normal/front/Charmander.png');
}
#Bulbasaur {
    background-image: url('../images/pokemon/normal/front/Bulbasaur.png');
}
#Pikachu {
    background-image: url('../images/pokemon/normal/front/Pikachu.png');
}