#helpersContainer {
    display: grid;
    grid-row: 3;
    grid-column: 1;
    min-height: 100%;
    min-width: 100%;
    border: 1px solid black;
}
#helpersContainer div button {
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
}