#helpersContainer {
    display: none;
    grid-row: 3;
    grid-column: 1;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    min-height: 100%;
    min-width: 100%;
    border: 1px solid black;
}
#Bulbasaur {
    min-height: 100%;
    min-width: 100%;
}
#Squirtle {
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
}
#Pikachu {
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
}