#helpersContainer {
    display: grid;
    grid-row: 3;
    grid-column: 1;
    text-align: center;
    min-height: 100%;
    min-width: 100%;
    border: 1px solid black;
}
#helpersContainer button {
    background-size: contain;
    background-repeat: no-repeat;
    width: 128px;
    height: 128px;
}
#pokemonHelpers {
    overflow: auto;
}