#ranchContainer {
    border: 1px solid black;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 9fr;
    text-align: center;
}
#mainRanchContainer {
    min-height: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    grid-template-rows: 4fr 2fr 4fr;
    text-align: center;
}
#ranchTitle {
    grid-row: 1;
}
#guildButton {
    grid-row: 3;
    grid-column: 1;
}
#dungeonButton {
    grid-row: 1;
    grid-column: 1;
}
#farmButton {
    grid-row: 1;
    grid-column: 3;
}
#labButton {
    grid-row: 3;
    grid-column: 3;
}